:root {
  --strongCyan: hsl(171, 66%, 44%);
  --lightBlue: hsl(233, 100%, 69%);
  --darkGrayishBlue: hsl(210, 10%, 33%);
  --grayishBlue: hsl(201, 11%, 66%);
  --whiteColor: hsl(0, 0%, 100%);
  --footerColor:hsl(180, 7%, 97%);
  --mainTitle: 600 43px "Bai Jamjuree", sans-serif;
  --titles: 600 37px "Bai Jamjuree", sans-serif;
  --detailsTitles: 600 26px "Bai Jamjuree", sans-serif;
  --workflowTitles: 600 24px "Bai Jamjuree", sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    font-size: 26px;
    font-weight: 600;
    color: var(--darkGrayishBlue);
}

p{
    font-size: 18px;
    font-weight: 400;
    color: var(--grayishBlue);
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style: none;
}

/* header */
#header{
    padding-top: 80px;
    margin-bottom: 144px;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#header .header_content{
    display: grid;
    place-content: center;
    margin: 100px 0px;
}

#header .header_content .logo{
    margin-bottom: 4em;
}

.header_text h3{
    font: var(--mainTitle);
    margin-bottom: 20px;
}

.header_text p{
    font-size: 18px;
    font-weight: 400;
    width: 69%;
    line-height: 32px;
    margin: auto;
    padding-bottom: 48px;
}

.header_text .button a{
    padding: 16px 36px;
    background: var(--strongCyan);
    color: var(--whiteColor);
    font-weight: 600;
    font-size: 18px;
    border-radius: 35px;
    box-shadow: 0 10px 27px -12px rgb(86, 220, 200);
    border-bottom: 3px solid rgb(23, 157, 137);
}

.header_text .button a + a{
    background: var(--lightBlue);
    box-shadow: 0 10px 27px -12px rgb(97, 115, 255);
    border-bottom: 3px solid rgb(75, 92, 217);
    margin-left: 15px;
}

.text2 h4{
font: var(--titles);
margin-bottom: 25px;
}

.text2 p{
    font-size: 18px;
    font-weight: 400;
    width: 49%;
    line-height: 32px;
    margin: auto;
    padding-bottom: 80px;
}

.content{
    display: flex;
    margin: 5rem 0;
}

.content_img{
    flex-basis: 60%;
}
.content_img img{
    margin: 0;
    position: relative;
    left: -4.4rem;
}

.content_text{
    flex-basis: 40%;
    margin-left: 4rem;
    text-align: left;
}

.content_details{
    margin-bottom: 40px;
}
.content_details h6{
    margin-bottom: 10px;
    font: var(--detailsTitles);
}
.content_details p{
    width: 60%;
    line-height: 32px;
    display: inline-block;
}

.devices_img{
    margin: 2em 0;
}

.features{
    display: flex;
    margin-bottom: 5rem;
}

.wrapper{
    margin: 0 auto;
    max-width: 1140px;
}

.wrapper2{
    margin: 0 auto;
    max-width: 1200px;
}

.features img{
    margin-bottom: 30px;
}
.features h6{
    font: var(--workflowTitles);
    margin-bottom: 20px;
}

.blacklist, .snippets, .preview{
    flex-basis: 33%;
}
.snippets, .preview{
    margin-left: 25px;
}

.blacklist{
    position: relative;
    top: -9px;
}

#brands img{
    margin: 5em 0;
}

.brands_img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.brands_img a:nth-child(3){
    position: relative;
    top: 10px;
}

#clipboard{
    margin: 4rem 0 14rem 0;
}

.text1 h3{
    font: var(--titles);
}

.text1 p{
    width: 55%;
}

footer{
    background: var(--footerColor);
    padding: 30px 0;
}

.footer_items{
    display: flex;
    justify-content: space-between;
    margin:  0 3.7rem;
}

.footer_logo img{
    width: 60px;
}

.footer_help{
    position: relative;
    left: -12
    0px;
}

.footer_help ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    row-gap: 20px;
    column-gap: 45px;
}

.footer_social{
    position: relative;
    top: 20px;
}

.footer_social a + a{
    margin-left: 10px;
}